.cont {
    pointer-events: inherit;
    border-radius: 20px;

    // isolation: isolate;
    position: relative;
    > img {
        position: absolute;
        padding: 12px 21px;

        pointer-events: none;

        // min-width: 1rem;
        // min-height: 1rem;

        // max-width: 1rem;
        // max-height: 1rem;

        width: calc(1rem + 42px);
        height: calc(1rem + 24px);
    }

    > img.r_ico {
        right: 0;
    }
}

.searchBar {
    all: unset;
    padding: 10px 20px;
    // padding-left: calc(20px + 16px + 10px);
    border: 1px solid #0A2A76;
    border-radius: 20px;

    &:focus {
        background-color: hsla(220, 23%, 95%, 1);
    }
}

.searchBar.p_l {
    padding-left: calc(20px + 1rem + 10px) !important;
}

.searchBar.p_r {
    padding-right: calc(20px + 1rem + 10px) !important;
}

.itemContainer{
    position:absolute;
    // background-color: rgba(255, 255, 255, .8);
    background-color: hsla(220, 23%, 95%, 1);
    text-decoration: none;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: calc(1rem + 5px + 10px);
    margin-top: calc(-1rem + -5px);
    z-index: -1;

    border: 1px solid #0A2A76;

    border-radius: 0 0 10px 10px;

    box-shadow: 0 10px 25px hsla(0, 0%, 53%, 0.5);

    
    .item{
        padding: 5px 10px;
        // padding: 10px 10px;
        cursor: pointer;
        display: flex;
        &:last-child {
            padding-bottom: 10px;
        }
        &:hover{
            background-color: rgba(255, 255, 255, 1);
        }
        &:last-child:hover{
            border-radius: 0 0 10px 10px;
        }
        .item_details{
            padding: 0 10px;
        }
        .item_bi{
            background-image: var(--background-img);
            padding: 50px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 10px;
        }
    }
}