.wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;

    // min-height: 80vh;
}

.card {
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    > div:nth-child(2) {
        padding: 20px;
        > h2 {
            margin-bottom: 10px;
        }
    }
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 300px;
    min-height: 250px;
    border-radius: 10px 0 0 10px;
    // width: 100%;
}

.easter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    color: hsla(220, 23%, 100%, 0.75);
}