.article_wrapper{
    width:100%;
    > h1{
        margin-top: 100px;
        margin-left: 67px;    
    }
    .articles{
        display: flex;
        justify-content: space-around;
        margin-bottom: 100px;
        
        
        .article_card{
            border-radius: 15px;
            transition: transform 0.3s ease-in-out;
            box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
            min-height:290px;
            > img{
                border-radius: 15px 15px 0 0;
                width: 100%;
                min-height: 40%;
                transition: all 0.5s ease-in-out;
                filter: grayscale(1);
            }
            .article_text{
                padding: 20px;
                margin: auto;
            }
        }
        
    }
    .article_card:hover{
        transform: translateY(-5px);
        > img{
            filter: grayscale(0);
        }
    }
}

@media screen and (max-width: 1000px) {
    .articles{
        flex-direction: column;
        gap: 30px;
    }
}