.main {
    background-color: hsla(220, 23%, 95%, 0.85);
    backdrop-filter: blur(25px);

    z-index: 69420;
    padding: 20px 0;

    position: fixed;
    top: 0;

    pointer-events: none;
    
    > * {
        pointer-events: auto;
    }

    > div {
        display: flex;

        align-items: center;
        justify-content: space-between;

        > a:nth-child(1) {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            
            > h1 {
                color: #1947B2;
                
            }
        }
        > div:nth-child(2) {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            > ul {
                display: flex;

                gap: 20px;
            }
        }
    }
    a:hover{
        text-decoration: underline;
    }
}

.sep {
  content: "";
  height: 15px;
  width: 1px;

  border: 1px solid #0A2A76;
  border-radius: 1px;
}

.isSpacer {
    opacity: 0;
    position: relative;
    pointer-events: none !important;
    z-index: -69420 !important;
}

.cta {
    display: flex;
    gap: 10px;
}

.btn_login {
    padding: 10px 20px;
    background-color: #1947B2;
    color: #EFF1F5;
    border-radius: 20px;
    border: 1px solid #1947B2;
    cursor: pointer;

    box-shadow: 0px 0px 0px 0px hsla(222, 25%, 20%, .25);
    transition: box-shadow .25s ease-in-out;
}

.btn_login:hover {
    box-shadow: 0px 5px 25px 2px hsla(222, 25%, 20%, .25);
}

// .nav_items {
//     display: flex;

//     align-items: center;
//     justify-content: space-between;

//     /* margin: 20px 0; */
// }

// .nav_right > ul {
//     display: flex;

//     gap: 20px;
// }