.footers {
    width: 100%;
    margin-top: 100px;
    background-color: #041e5a;
    padding: 100px 0px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    * {
      color: white;
      margin: 10px;
    }
    .leftfooter {
      margin-bottom: 20px; 
    }
    .rightfooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      p, a {
        color: grey;
      }
      .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        h3 {
          color: white;
        }
        a {
          color: grey;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  /* Media queries for responsive design */
  @media (min-width: 768px) {
    .footers {
      flex-direction: row; 
      justify-content: space-between;
      padding: 50px 100px;
      .leftfooter {
        margin-left: 100px;
        margin-bottom: 0; 
      }
      .rightfooter {
        margin-right: 100px;
        flex-direction: row; 
        align-items: flex-start;
        gap: 100px;
      }
    }
  }
  